
<div class="container-fluid">

        <div>
            <a class="btn btn-dark" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" href="#" routerLink="/visits/new">Create Visit</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Visit Date</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Notes</th>
                <th><i class="fa fa-eye fa-2x"></i></th>
              </tr>
            </thead>
            <tbody *ngFor="let visit of visits">
              <tr>
                <td>{{visit.visitDate}}</td>
                <td>{{visit.patient.firstName}}</td>
                <td>{{visit.doctorId}}</td>
                <td><a class="btn btn-dark" style="color: white" (click)="viewVisit(visit.visitId)">View</a></td>
              </tr>
            </tbody>
          </table>
    </div>
    