
<div class="container-fluid">

    <div>
        <a class="btn btn-dark" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" routerLink="/patients/new">Register Patient</a>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Telephone</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Identity Number</th>
            <th><i class="fa fa-edit fa-2x"></i></th>
          </tr>
        </thead>
        <tbody *ngFor="let patient of patients">
          <tr>
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.telephone}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.address}}</td>
            <td>{{patient.identityNumber}}</td>
            <td><a class="btn btn-dark" style="color: white" (click)="editPatient(patient.patientId)">Edit</a></td>
          </tr>
        </tbody>
      </table>
</div>
