<div class="container-fluid">

     <div>
        <h4 style="float: left; margin-top:10px; margin-bottom:10px;" href="#" >Upcoming Appointments</h4>
    </div>
    <div>
        <a class="btn btn-dark" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" href="#"
            routerLink="/appointments/new">Create Appointment</a>
    </div>
   
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Patient Name</th>
                <!-- <th><i class="fa fa-eye fa-2x"></i></th> -->
            </tr>
        </thead>
        <tbody *ngFor="let appointment of appointments">
            <tr>
                <td>{{appointment.bookingDate}}</td>
                <td>{{appointment.patient.firstName + " " + appointment.patient.lastName }}</td>
                <!-- <td><a class="btn btn-dark" style="color: white" (click)="viewAppoinement(appointment.appointmentId)">View</a></td> -->
            </tr>
        </tbody>
    </table>
</div>