<div class="container-fluid">

        <div>
            <a class="btn btn-dark" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" href="#" routerLink="/doctors/new">Register Doctor</a>
        </div>

        <div *ngFor="let note of notes" class="card myCard">

            <span style="display: none">{{note.noteId}}</span>
            <span class="myCard-heading">{{note.noteTitle}}</span>
            <span class="myCard-note">{{note.noteContent}}</span>
            
            <div class="myCard-buttons">
              <button  class="edit" (click)="editNote(note.noteId)"><i class="fa fa-edit" ></i></button>
              <button class="archive" (click)="archiveNote(note.noteId)"><i class="fa fa-archive"></i></button>
              <button class="delete" (click)="deleteNote(note.noteId)"><i class="fa fa-remove"></i></button>
            </div>
          
        </div>

        <table class="table table-striped">

            <thead class="thead-dark">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Employment Date</th>
                <th scope="col">Identity Number</th>
                <th scope="col">Specialisation</th>
                <th><i class="fa fa-edit fa-2x"></i></th>
              </tr>
            </thead>
            <tbody *ngFor="let doctor of doctors">
              <tr>
                <td>{{doctor.firstName}}</td>
                <td>{{doctor.lastName}}</td>
                <td>{{doctor.jobTitle}}</td>
                <td>{{doctor.employmentDate}}</td>
                <td>{{doctor.identityNumber}}</td>
                <td>{{doctor.specialisation}}</td>
                <td><button class="btn btn-dark" (click)="editDoctor(doctor.employeeId)" style="color: white">Edit</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    