<div class="container" style="margin-top: 10px">

        <div class="card-header">
            <h3>New Visit</h3>
         </div>
        
        <div clas="card">

          <div class="card-body">
                <form (ngSubmit)="onSubmit()" #visitForm="ngForm">
  
                  <div class="form-group ">
                    <label for="visitDate">Visit Date</label>
                    <input type="text" id="visitDate" #visitDate required [(ngModel)]="visit.visitDate" name="visitDate" class="form-control"/>
                    <!-- <div [hidden]="visitDate.valid || visitDate.pristine" class="alert alert-danger"> Visit Date is required </div> -->
                  </div>

                  <div class="form-group">
                    <label for="patientId">Patient</label>
                    <select class="form-control" id="patientId" #patientItself (change)='getPatient(patientItself.value)' ([ngModel])="visit.patientId" required>
                      <option value="-1">Select Patient</option>
                      <option *ngFor="let patient of patients" name="patientId" [value]="patient.patientId">
                        {{patient.firstName}}
                      </option>
                    </select>
                    <!-- <div [hidden]="patientItself.valid || patientItself.pristine" class="alert alert-danger"> Please Select a Patient </div> -->
                  </div>

                  <div class="form-group">
                    <label for="employeeId">Doctor</label>
                    <select class="form-control" id="employeeId" #doctorItself (change)='getDoctor(doctorItself.value)' ([ngModel])="visit.doctorId" required>
                      <option value="-1">Select Doctor</option>
                      <option *ngFor="let doctor of doctors" name="employeeId" [value]="doctor.employeeId">
                        {{doctor.firstName}}
                      </option>
                    </select>
                    <!-- <div [hidden]="doctorItself.valid || doctorItself.pristine" class="alert alert-danger"> Please Select a Doctor </div> -->
                  </div>

                  <div class="form-group">
                    <label for="duration">Duration</label>
                    <select class="form-control" id="duration" #duration (change)='getDuration(duration.value)' ([ngModel])="visit.duration" required>
                      <option value="-1">Select Duration</option>
                      <option *ngFor="let duration of durations" name="duration" [value]="duration">
                        {{duration}}
                      </option>
                    </select>
                    <!-- <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger"> Please Select a Duration </div> -->
                  </div>

                  <div class="form-group">
                    <label for="patientNote">Notes</label>
                    <textarea cols="25" rows="10" id="patientNote"  required [(ngModel)]="visit.patientNote" name="patientNote" class="form-control"></textarea>
                    <!-- <div [hidden]="notes.valid || notes.pristine" class="alert alert-danger"> Please Select a Duration </div> -->
                  </div>

                  <div>
                      <button type="submit" [disabled]="visitForm.form.invalid" class="btn btn-primary col-sm-12 col-md-2" style="margin-right:5px; margin-bottom: 5px" routerLink="visits">Save</button>
  
                  
                      <button (click)="cancel()" class="btn btn-secondary col-sm-12 col-md-2" style="margin-right:5px; margin-bottom: 5px">Cancel</button>
                  </div>
              
                </form>
            </div>      
         </div>
</div>
    