<div class="container" style="margin-top: 10px">

        <div class="card-header">
            <h3>Visit Details</h3>
         </div>
        
        <div clas="card">

          <div class="card-body">
                <form (ngSubmit)="onSubmit()">
    
                    <div class="form-group ">
                      <label for="visitDate">Visit Date</label>
                      <input type="text" id="visitDate" required [(ngModel)]="visit.visitDate" name="visitDate" class="form-control" readonly/>
                    </div>
                
                    <div class="form-group">
                      <label for="patientName">Patient</label>
                      <input type="text" id="patientName" required [(ngModel)]="visit.patient.firstName" name="patientName" class="form-control" readonly/>
                    </div>
    
                    <div class="form-group ">
                      <label for="doctorId">Doctor</label>
                      <input type="text" id="doctorId" required [(ngModel)]="visit.doctor.firstName" name="doctorId" class="form-control" readonly/>
                    </div>

                    <div class="form-group ">
                      <label for="doctorId">Duration</label>
                      <input type="text" id="duration" [(ngModel)]="visit.duration" name="duration" class="form-control" readonly/>
                    </div>

                    <div class="form-group">
                      <label for="patientNote">Notes</label>
                      <textarea cols="25" rows="10" id="patientNote" required [(ngModel)]="visit.patientNote" name="patientNote" class="form-control" readonly></textarea>
                    </div>

                
                    <div>
                      
                        <button (click)="cancel()" class="btn btn-primary col-sm-12 col-md-2" style="margin-right:5px; margin-bottom: 5px">OK</button>
                    </div>
                
                  </form>
            </div>      
         </div>
    </div>
    